.movies {
  width: 42rem;
  max-width: 42rem;
  background-color: var(--very-dark-plus);
  border-radius: 0.9rem;
  overflow: hidden;
  position: relative;
}

.movies__list {
  height: 100%;
  list-style: none;
  padding: 0.8rem 0;
  overflow: hidden;
}

.movies__list li {
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto auto;
  column-gap: 2.4rem;
  font-size: 0.8rem;
  align-items: center;

  padding: 0.9rem 1.2rem;
  border-bottom: 1px solid var(--very-dark);
}
.movies__list li:hover {
}

.movies__item img {
  width: 50px;
  height: 75px;

  border-radius: 6px;
}

.movies__item__info--year {
  margin-left: 12px;
}
