.navbar {
  position: relative;
  width: 75%;

  background-color: var(--main);
  color: #fff;

  margin: 12px;
  display: grid;
  grid-template-columns: 0.8fr 2fr 0.8fr;
  justify-items: center;
  align-items: center;

  border-radius: 12px;
  box-shadow: 6px 7px 23px 12px rgba(90, 24, 154, 0.49) inset;
  -webkit-box-shadow: 6px 7px 23px 12px rgba(90, 24, 154, 0.49) inset;
  -moz-box-shadow: 6px 7px 23px 12px rgba(90, 24, 154, 0.49) inset;
}

.navbar h3 {
  font-size: 1.5em;
  font-family: "Dancing Script", cursive;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navbar__logo img {
  width: 50px;
  height: 50px;
}

.navbar__searchbar {
  width: auto;
}

.navbar__searchbar input {
  position: relative;

  width: 240px;
  height: 15px;

  background-color: var(--very-light);
  color: var(--very-dark);

  border: none;
  border-radius: 6px;

  padding: 10px;
}

.navbar__searchbar input:focus-visible {
  outline: none;
  border: 2px solid var(--very-dark);
}
.navbar__searchbar input::placeholder {
  color: var(--very-dark);
}
